### Write a Python program to create a tuple.

In [1]:
x=()
print("Empty tuple",x)

Empty tuple ()

### Single item tuple.

In [2]:
x=(30)
print(x)
print(type(x))
print()
name=('Hitesh')
print(name)
print(type(name))

30
<class 'int'>

Hitesh
<class 'str'>

In [3]:
name=('Hitesh',)
print(name)
print(type(name))

('Hitesh',)
<class 'tuple'>

### Write a Python program to create a tuple with different data types.

In [4]:
data=("Hitesh",30,50.5,"Sannu")
print(data)

('Hitesh', 30, 50.5, 'Sannu')

In [5]:
t1=(10,20,30,40.50,"Hitesh",True,[1,2,3,4,5])
print(t1)
print(type(t1))
print()
t2=(10,(20,30,40.50),"Hitesh",True,[1,2,3,4,5])
print(t2)
print(type(t2))
print()
t3=tuple("Hitesh Yerekar")
print(t3)
print(type(t3))

(10, 20, 30, 40.5, 'Hitesh', True, [1, 2, 3, 4, 5])
<class 'tuple'>

(10, (20, 30, 40.5), 'Hitesh', True, [1, 2, 3, 4, 5])
<class 'tuple'>

('H', 'i', 't', 'e', 's', 'h', ' ', 'Y', 'e', 'r', 'e', 'k', 'a', 'r')
<class 'tuple'>

### Accessing Item in Tuple.

In [6]:
t2

(10, (20, 30, 40.5), 'Hitesh', True, [1, 2, 3, 4, 5])

In [7]:
### Accesssing item with indexing.
print(t2[0])
print(t2[2])
print(t2[4])
print(t2[1][1])

10
Hitesh
[1, 2, 3, 4, 5]
30

In [8]:
### accessing item in tuple with slicing.
print(t2[0:3])
print(t2[0:4:2])
print(t2[::-1])

(10, (20, 30, 40.5), 'Hitesh')
(10, 'Hitesh')
([1, 2, 3, 4, 5], True, 'Hitesh', (20, 30, 40.5), 10)

### Write a Python program to add an item in a tuple.

In [9]:
tuplex = (4, 6, 2, 8, 3, 1) 

tuplex=tuplex+(10,)
print(tuplex)
print()
tuplex=tuplex+(20,30,)
print(tuplex)

(4, 6, 2, 8, 3, 1, 10)

(4, 6, 2, 8, 3, 1, 10, 20, 30)

### Deleting tuple.

In [10]:
del t3

In [11]:
print(t3)

NameError: name 't3' is not defined

### Operation in Tuple.
    1) Addition
    2) Multiplication
    3) Membership

In [ ]:
t1=(1,2,3,4,5)
t2=(10,20,30,40,50)
### Addition
print(t1+t2)
## Multiplication
print(t1*3)
### Membership operation
print(3 in t1)
print(10 in t2)
print(50 in t1)
print(100 in t2)

In [ ]:
### Iteration in Tuple
for i in t1:
    print(i)

In [ ]:
for i in t2:
    print(i)

### Tuple Function:-
    1) len
    2) min
    3) max
    4) sorted
    5) count
    6) index
    7) sum

In [ ]:
print(t1)
print(t2)
print(len(t1))
print(min(t2))
print(max(t2))
print(sorted(t2,reverse=True))
print(sum(t1))

In [ ]:
print(t1.count(3))

In [ ]:
print(t2.index(40))

### Write a Python program to convert a tuple to a string.

In [ ]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
print(type(tup))

result=''.join(tup)
print(result)
print(type(result))

### Write a Python program to get the 4th element and 4th element from last of a tuple.

In [ ]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

result=tuplex[3]
print("4th element in tuple =",result)
result1=tuplex[-4]
print("last 4th element form tuple =",result1)

### Write a Python program to find the repeated items of a tuple.

In [ ]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

result=tuplex.count(4)
print("repeated item in tuple =",result)
print()
result1=tuplex.count(2)
print("repeated item in tuple =",result1)

### Write a Python program to check whether an element exists within a tuple.

In [ ]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(3 in tuplex)
print('r' in tuplex)
print('z' in tuplex)

### Write a Python program to convert a list to a tuple.

In [ ]:
listx = [5, 10, 7, 4, 15, 3]
print("converting list into tuple")
print(tuple(listx))
print(type(listx))

### Write a Python program to remove an item from a tuple.

In [ ]:
tuplex = ("w", 3, "r", "s", "o", "u", "r", "c", "e")
print("before removing item ",tuplex)

## first we need to convert tuple into list

result=list(tuplex)
print(result)

result.remove("s")
## convert list into tuple.
final_res=tuple(result)
print(final_res)

### reversed tuple.

In [ ]:
tuplex = ("w", 3, "r", "s", "o", "u", "r", "c", "e")

data=reversed(tuplex)
print(tuple(data))

In [ ]:
data=(2, 4, 5, 6, 2, 3, 4, 4, 7 )
y=reversed(data)
print(tuple(y))

## **** SET-Datatype 
    SET is an unordered collection of items.Every item in SET ina unique and you cannot add a duplicate item in SET.
    SET is mutable but we cannot add immutable item in SET.
    SET can perform mathematical operation like UNION,INTERSECTION,SYMETRIC etc.
    IT uses a curly braces.
    
    CHERECTERISTICS OF SET:-
    1) IT IS UNORDERED
    2) IT IS MUTABLE :- We can add or delete item in set.
    3) NO DUPLICATE ALLOW
    4) CAN'T CONTAIN MUTABLE DATATYPE.

### CREATING SET :-

In [ ]:
## EMPTY SET 
s={}
print(s)
print(type(s))

In [ ]:
### Creating empty set in proper way.
s=set()
print(s)
print(type(s))
### Homogenious SET
s1={1,2,3,4,5}
print(s1)
### Heterogenious SET
s2={'Hitesh',10,10.20,True,(25,"Sanuu")}
print(s2)

In [ ]:
### Using type convergen
s3=set([10,20,30,40,50])
print(s3)
print(type(s3))

### Adding and Deleting item in SET.
    1) add() :- Used to add single item in set
    3) update():- Used to add multiple item in set.

In [ ]:
x={1,2,3,4,5}
### Adding item in SET.
x.add(10)
print(x)
### Adding multiple item in set
x.update([50,60,70])
print(x)

### Delete item in SET.
    1) del :- used to delete the complete set.
    2) discard :- used to delete perticular item in set.
    3) remove :- used to delete pertincular item in set
    4) pop :- used to delete item randomly.
    5) clear :- used to clear the set.

In [ ]:
print(x)
## Deleting a SET.
#del x
#print(x)
x.discard(3)
print(x)
x.remove(50)
print(x)
### Note :- If item not found in set in that case Discard will not throw error.But in case of remove it will throw an error.
x.pop()
print(x)
x.clear()
print(x)