### Creating a STRING..

1) String represtent the group of charecter.String are enclosed in double quotes and single quotes.

2) The str is the datatype of STRING.

3) EX.:- "HITEHS", 'HITESH'

### Creating a STRING in different way.

In [21]:
name="HITESH YEREKAR"
print(name)

HITESH YEREKAR

In [2]:
name='HITESH'
print(name)

HITESH

In [6]:
Name=""" HITESH YEREKAR
        DATA SCIENTIST"""
print(Name)

 HITESH YEREKAR
        DATA SCIENTIST

In [7]:
data="HITESH YEREKAR 'DATA SCIENTIST'"
print(data)

HITESH YEREKAR 'DATA SCIENTIST'

In [8]:
data='HITEHS YEREKAR "RALEGAON"'
print(data)

HITEHS YEREKAR "RALEGAON"

In [10]:
### Finding the memory adddress of string.
print("name =",id(name))
print("Name =",id(Name))

name = 1656240416496
Name = 1656240460400

### Finding the Index number of STRING.

In [11]:
name[3]

'E'

In [12]:
Name[2:5]

'ITE'

In [15]:
Name[-1:3]

''

### FInding the LEANGTH of STRING..

It represent number of charecter in STRING.

In [18]:
print(len(name))

6

In [19]:
print(len(Name))

38

### Aceessing the STRING using FOR and WHILE Loop..

In [22]:
## Without Index number:
for i in name:
    print(i)

H
I
T
E
S
H

Y
E
R
E
K
A
R

In [27]:
### With Index Number..

a=len(name)

for i in range(a):
    print("Index ",i,"=",name[i])

Index  0 = H
Index  1 = I
Index  2 = T
Index  3 = E
Index  4 = S
Index  5 = H
Index  6 =
Index  7 = Y
Index  8 = E
Index  9 = R
Index  10 = E
Index  11 = K
Index  12 = A
Index  13 = R

In [30]:
### While Loop
i=0
n=len(name)

while i<n:
    print(name[i])
    i=i+1

H
I
T
E
S
H

Y
E
R
E
K
A
R

In [34]:
### If you want to print any TSRING multiple times the used "*" sign.

print(name * 5)

HITESH YEREKARHITESH YEREKARHITESH YEREKARHITESH YEREKARHITESH YEREKAR

In [35]:
print(name[0:6]*5)

HITESHHITESHHITESHHITESHHITESH

### Concatenate()

This operator used to join two STRING.

In [39]:
job="Data Scientist"

prof=name+" "+job
print(prof)

HITESH YEREKAR Data Scientist

In [40]:
prof=name,job
print(prof)

('HITESH YEREKAR', 'Data Scientist')

### Comparing two string.

In [41]:
data="Data Scientist"

result=job==data
print(result)

True

In [42]:
result=name==data
print(result)

False

In [44]:
result=name<data
print(result)

False

In [1]:
string = input("Enter the string : ")
 
outputString = ''
 
for i in range(len(string)):
    if(i % 2 == 0):
        outputString = outputString + string[i]
         
print("input string :  ", string)
print("String after odd charcater :", outputString)

Enter the string : Hitesh
input string :   Hitesh
String after odd charcater : Hts

#### Write a Python program to count the number of characters (character frequency) in a string.

In [1]:
name="Hitesh Yerekar"
print(name)
length=len(name)
print(length)

Hitesh Yerekar
14

#### Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.

In [6]:
def add_string(str):
    length=len(str)
    
    if length>2:
        if str[-3:]=='ing':
            str=str+'ly'
        else:
            str=str+'ing'
    return str

In [7]:
add_string("dying")

'dyingly'

In [8]:
add_string('lovely')

'lovelying'

#### Write a Python function that takes a list of words and return the longest word and the length of the longest one.

In [59]:
word_length=[]
def longest_word(word_list):
    for i in word_list:
        word_length.append(len(i))
    return max(word_length)

In [62]:
name=['Hitesh','Sonal','Sannidhya','Prajwal','jagadishwar']

In [63]:
longest_word(name)

11

In [43]:
word_length

[6, 5, 9, 7]

#### Write a Python program to remove the characters which have odd index values of a given string.

In [69]:
result=[]
def remove_odd_index(list):
    for i in range(len(list)):
        if i%2==0:
            result.append(list[i])
    return result

In [70]:
remove_odd_index("Saanidhya")

['S', 'a', 'i', 'h', 'a']

#### Write a Python program to count the occurrences of each word in a given sentence.

In [108]:
word_frequency=[]

def count_word(str):
    result=str.split()
    for i in result:
        word_frequency.append(result.count(i))
    return word_frequency

In [98]:
count_word('prajwal')

[1]

In [114]:
string="Hitesh is good Data Scientist and Data Scientist is growing field."

#### Write a Python script that takes input from the user and displays that input back in upper and lower cases.

In [112]:
string=input("enter any string ")
print("Upper case",str.upper(string))
print("lower case",str.lower(string))

enter any string hiTesh
Upper case HITESH
lower case hitesh

In [145]:
string

'Hitesh is good Data Scientist and Data Scientist is growing field.'

In [146]:
result=string.split()
print(result)

['Hitesh', 'is', 'good', 'Data', 'Scientist', 'and', 'Data', 'Scientist', 'is', 'growing', 'field.']

In [159]:
output=[]
result=string.split()
for i in range(0,len(result)):
    if i%2==0:
        output.append(result[i])
    else:    
        output.append(result[i][::-1])
print(result)
print("Acfter reversing odd index string.")
print(output)

['Hitesh', 'is', 'good', 'Data', 'Scientist', 'and', 'Data', 'Scientist', 'is', 'growing', 'field.']
Acfter reversing odd index string.
['Hitesh', 'si', 'good', 'ataD', 'Scientist', 'dna', 'Data', 'tsitneicS', 'is', 'gniworg', 'field.']

### Operation on STRING :-
    1) Arithematic Operation
    2) Relational Operation
    3) Logical Operation
    4) Loops on String
    5) Membership Operation

### Arithematic Operation :-
    String work on two arithematic operations.
    1) +(Adddition) it work as concatenation.
    2) *(Multiplication)

In [2]:
print('Hitesh'+' '+'Yerekar')

Hitesh Yerekar

In [3]:
print('Hitu'*5)

HituHituHituHituHitu

In [4]:
print('*'*50)

**************************************************

### Relational Operation :-

In [5]:
'Hitesh'!='Hitesh'

False

In [6]:
'Hitesh'>'Yerekar'

False

In [7]:
'Hitesh'<'hitesh'

True

### Logical Operator :-

In [8]:
'Hitesh' and ''

''

In [9]:
'Hitesh' or ''

'Hitesh'

In [10]:
'Hitesh' and 'yerekar'

'yerekar'

In [11]:
'hitesh' or 'yerekar'

'hitesh'

### Loops on STRING :-

In [12]:
for i in 'Hitesh':
    print(i)

H
i
t
e
s
h

### Membership Operation :-

In [13]:
'h' in 'Hitesh'

True

In [14]:
'r'in 'Hitesh'

False

In [15]:
'Pune' in 'I love India'

False

In [16]:
'Pune' not in 'I love India'

True

### Common String function :-
    len() :- Finding the length of string.
    max():- find the max values in string on ascii value.
    min() :- find the min value in string on ascii value.
    sorted():- sort the string in ascending and descending order.

In [17]:
len('Hitesh')

6

In [20]:
max('Hitesh Yerekar')

't'

In [21]:
min('Hitesh Yerekar')

' '

In [22]:
min('Hitesh')

'H'

In [24]:
sorted('Hitesh Yerekar')

[' ', 'H', 'Y', 'a', 'e', 'e', 'e', 'h', 'i', 'k', 'r', 'r', 's', 't']

In [25]:
sorted('Hitesh Yerekar',reverse=True)

['t', 's', 'r', 'r', 'k', 'i', 'h', 'e', 'e', 'e', 'a', 'Y', 'H', ' ']

### String Fucntion :-
    1) Capitalize
    2) Upper
    3) Lower
    4) Swapcase
    5) count
    6) find
    7) index
    8) endswith
    9) startswith

In [27]:
s='hietsh yerekar'
s.capitalize()

'Hietsh yerekar'

In [28]:
s.title()

'Hietsh Yerekar'

In [29]:
s.lower()

'hietsh yerekar'

In [30]:
s.upper()

'HIETSH YEREKAR'

In [33]:
name='Hi my name is Hitesh Yerekar'
name.count('i')

3

In [35]:
### it return the index of given string position.
name.find('is')

11

In [36]:
name.index('Yerekar')

21

In [38]:
name.startswith('Hi')

True

In [39]:
name.endswith('na')

False

In [40]:
name.endswith('ar')

True

### Format

In [42]:
name='Hitesh'
gender='Male'

'Hi my name is {} and my gender is {}'.format(name,gender)

'Hi my name is Hitesh and my gender is Male'

### Other Function:-
    1) isalnum()
    2) isalpha()
    3) isdigit()
    4) isidentifier()

In [43]:
name.isalnum()

True

In [44]:
s='Hitesh2204'
s.isalnum()

True

In [45]:
name.isalpha()

True

In [46]:
s.isalpha()

False

In [47]:
name.isdigit()

False

In [48]:
s.isdigit()

False

In [49]:
num='12345'
num.isdigit()

True

In [50]:
name.isidentifier()

True

### Split() it breaks the sentence word by word.

In [63]:
s='Hitesh Yerekar is Data Scientist'
s.split()

['Hitesh', 'Yerekar', 'is', 'Data', 'Scientist']

In [64]:
s.split('i')

['H', 'tesh Yerekar ', 's Data Sc', 'ent', 'st']

### join() it join the word and create a sentence.

In [65]:
' '.join(['Hietsh', 'Yereakr', 'is', 'Data', 'Scientist'])

'Hietsh Yereakr is Data Scientist'

In [66]:
'-'.join(['Hietsh', 'Yereakr', 'is', 'Data', 'Scientist'])

'Hietsh-Yereakr-is-Data-Scientist'

### Replace :-

In [67]:
s.replace('Hitesh','Hitu')

'Hitu Yerekar is Data Scientist'

### Strip 
    This function i used to remove all spalces of given string.

In [74]:
name='Hitesh          '
print(name)

Hitesh

In [75]:
name.strip()

'Hitesh'