### What is LIST ?

1) LIST is a mutable.

2) We can change or replace the element in LIST.

3) LIST contains different types of elements.

4) LIST uses a square braces to add element.

5) Speed of LIST is slow

6) It occupies more memory.

7) LIST always store the address of an item in memory rather than values.

### How to create a LIST ?

In [1]:
Data=["Hitesh",22,50.5," Data Scientst","Sannidhya"]
print(Data)

['Hitesh', 22, 50.5, ' Data Scientst', 'Sannidhya']

In [2]:
## Finding the lenght of LIST.
print(len(Data))

5

### LIST Slicing.

In [3]:
Data[0:2]

['Hitesh', 22]

In [4]:
Data[::]

['Hitesh', 22, 50.5, ' Data Scientst', 'Sannidhya']

In [5]:
Data[:3]

['Hitesh', 22, 50.5]

In [6]:
Data[3:]

[' Data Scientst', 'Sannidhya']

In [7]:
Data[-1:]

['Sannidhya']

In [8]:
Data[-2:]

[' Data Scientst', 'Sannidhya']

In [9]:
Data[-3:]

[50.5, ' Data Scientst', 'Sannidhya']

In [10]:
Data1=[30,40,50,60]
print(Data1)

[30, 40, 50, 60]

In [11]:
### concatenate two LIST.
result=Data+Data1
print(result)

['Hitesh', 22, 50.5, ' Data Scientst', 'Sannidhya', 30, 40, 50, 60]

### Methods in LIST.

#### Method	Description
append()	Adds an element at the end of the list.It is used to add single element in list.

clear()	Removes all the elements from the list.

copy()	Returns a copy of the list.

count()	Returns the number of elements with the specified value.

extend()	Add the elements of a list (or any iterable), to the end of the current list.when we want to add multiple item in list at a time at that time we can used extend() function.

index()	Returns the index of the first element with the specified value.

insert()	Adds an element at the specified position.

pop()	Removes the element at the specified position.

remove()	Removes the first item with the specified value.

reverse()	Reverses the order of the list.

sort()	Sorts the list.But it make permanent changes in list.

sorted() Sort the list in ascending order.but it make temperory changes in list.

### 1) Append :- This method adding an element at the end of the list.

In [12]:
Data.append("India")

In [13]:
print(Data)

['Hitesh', 22, 50.5, ' Data Scientst', 'Sannidhya', 'India']

In [14]:
Data.append(Data1)

In [15]:
print(Data)

['Hitesh', 22, 50.5, ' Data Scientst', 'Sannidhya', 'India', [30, 40, 50, 60]]

### 2) Clear() Removes all the elements from the list.

In [16]:
Data.clear()

In [17]:
Data

[]

### 3) Copy() Returns a copy of the list.

In [18]:
result=Data1.copy()
print(result)

[30, 40, 50, 60]

In [19]:
X=Data.copy()
print(X)

[]

In [20]:
Data.append("Hitesh")

In [21]:
print(Data)

['Hitesh']

### count() Returns the number of elements with the specified value.

In [22]:
result=Data.count("Hitesh")
print(result)

1

### extend() Add the elements of a list (or any iterable), to the end of the current list.

In [23]:
Data.extend("World is good")
print(Data )

['Hitesh', 'W', 'o', 'r', 'l', 'd', ' ', 'i', 's', ' ', 'g', 'o', 'o', 'd']

In [24]:
Data1.extend(["Thank you GOd for everything"])
print(Data1)

[30, 40, 50, 60, 'Thank you GOd for everything']

### index() Returns the index of the first element with the specified value.

In [25]:
Data.index("Hitesh")

0

In [26]:
Data1.index(50)

2

### insert() Adds an element at the specified position.

In [ ]:
Data.insert(3,"WOW")

In [ ]:
print(Data)

In [ ]:
Data1.insert(4,"Love you")

In [ ]:
print(Data1)

In [ ]:
Data1.index("Love you")

### pop() Removes the element at the specified position.

In [ ]:
Data.pop(9)
print(Data)

### remove() Removes the first item with the specified value.

In [ ]:
Data.remove("Hitesh")

In [ ]:
print(Data)

In [ ]:
Data1.remove(40)

In [ ]:
Data1

### reverse() Reverses the order of the list.

In [ ]:
Data.reverse()

In [ ]:
print(Data)

In [ ]:
print(Data[::-1])

### Del() Element to be deleted is mentioned using list name and index.

In [ ]:
del Name[2]

In [ ]:
print(Name)

### sort() Sorts the list

In [ ]:
Name=["Hitesh","Sonal",'Ram',"20",'50']

In [ ]:
Name.sort()

In [ ]:
print(Name)

In [ ]:
Name.sort(reverse=True)

In [ ]:
print(Name)

### Max() return the maximum element from LIST.

In [ ]:
print(max(Name))

In [ ]:
print(min(Name))

### Sum() it return the total sum of element in LIST.

In [ ]:
number=[20,12,35,15,40]
print(number)

In [ ]:
print(sum(number))

### Removing duplicates e use the dict.fromkeys() function to convert our list into a dictionary with list elements as keys. And then we convert the dictionary back to list.

In [ ]:
my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
my_list_2 = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']

In [ ]:
my_list_1=list(dict.fromkeys(my_list_1))
print(my_list_1)

In [ ]:
my_list_2=list(dict.fromkeys(my_list_2))
print(my_list_2)

### Filtering a list.

### 1) Python lists can be filtered with the help of filter() function..

In [ ]:
def my_filter(n):
    if n>5:
        return n
    
    
my_list = [5, 2, 90, 24, 10, 2, 95, 36]
filter_my_list=list(filter(my_filter,my_list))
print(filter_my_list)

### 2) We can also filter using list comprehension.

In [ ]:
my_list=[item for item in my_list if item>20]
print(my_list)

### Map() returns a map object (iterator) of the results.

In [ ]:
def squaring(n):
    return n**2
    
my_list = [5,2,10,4,5,6,7]
my_squaring_list=list(map(squaring,my_list))
print(my_squaring_list)

### Combining lists :- We can even combine lists with the help of the zip() function.

In [ ]:
# combing lists with the help of zip() function
my_list_1 = [5, 2, 90, 24, 10]
my_list_2 = [6, 3, 91, 25, 12]
 
combine_list=list(zip(my_list_1,my_list_2))
print(combine_list)

In [ ]:
combine_data=list(zip(Data,Data1))
print(combine_data)

### Flatten a list of lists.

In [ ]:
# to flatten a list_of_lists by using list comprehension
list_of_lists = [[1, 2],
                 [3, 4],
                 [5, 6],
                 [7, 8]]


my_list=[item for i in list_of_lists for item in i]
print(my_list)

### LIST EXERCISE PROGRAMM :-

### 1) Write a Python program to sum all the items in a list.

In [28]:
lst=[10,20,30,40]
result=sum(lst)
print(result)

100

In [29]:
### By USing for loop

sum=0
for i in lst:
    sum=sum+i
print(sum)

100

In [30]:
### Addition of two list.

lst1=[10,12,15,17]
lst2=[20,22,25,30]

sum_lst=[]

for i in range(len(lst1)):
    sum_lst.append(lst1[i]+lst2[i])
print(sum_lst)

[30, 34, 40, 47]

### Write a Python program to sum all the items in a list.

In [31]:
my_lst=[2,4,3,6]

result=1

for i in my_lst:
    result=result*i

print(result)

144

In [32]:
### Second method for addition.

import numpy
result=numpy.prod(my_lst)
print(result)

144

### Write a Python program to get the largest number from a list.

In [43]:
mylst=[20,40,10,90,40,100]

print(max(mylst))
print(min(mylst))

100
10

In [39]:
data=[20,87,10,44,100,30,55]

data.sort()
print(data)

print("Min Val =",data[0])
print("Max Val =",data[-1])

[10, 20, 30, 44, 55, 87, 100]
Min Val = 10
Max Val = 100

In [42]:
print(max(data))
print(min(data))

100
10

### Write a Python program to get the largest number from a list.

In [47]:
dup_lst=[10,15,25,30,15,30,50,100,30,10,40,75]
print("Removing the duplicate element form list")
print()
print(sorted(list(set(dup_lst))))

Removing the duplicate element form list

[10, 15, 25, 30, 40, 50, 75, 100]

### Write a Python program to get the largest number from a list.

In [54]:
mylst=[]

if not mylst:
    print("List is Empty")
else:
    print("List is not Empty")

List is Empty

In [53]:
### By using len we can find out list is empty or not..

data=[]

if not len(data):
    print("List is empty")
else:
    print("list is not empty")

list is not empty

In [56]:
### By using comapring operator we can also check list is empty or not.

data=[]

if data==[]:
    print("List is empty")
else:
    print("List is not Empty")

List is empty

### Write a Python program to clone or copy a list.

In [82]:
data=[20,87,10,44,100,30,55]

print(data)
shuffle(data)

copy_lst=data.copy()
print(copy_lst)

[20, 87, 10, 44, 100, 30, 55]
[44, 30, 20, 100, 55, 10, 87]

### Write a Python program to find the list of words that are longer than n from a given list of words.

In [72]:
name=["Hitesh","Sonal","Ram","Sannidhya","Pranav"]

large_string=[]
for i in name:
    if len(i)>4:
     large_string.append(i)
print(large_string)

['Hitesh', 'Sonal', 'Sannidhya', 'Pranav']

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [75]:
lst1=[10,20,30,40]
lst2=[20,50,80,55]

for i in lst1:
    for j in lst2:
        if(i==j):
            print(True)

True

In [78]:
lst1=[10,20,30,40]
lst2=[90,50,80,55]

for i in lst1:
    for j in lst2:
        if(i==j):
            print(True)
print(False)

False

### Write a Python program to shuffle and print a specified list.

In [85]:
from random import shuffle
name=["Hitesh","Sonal","Ram","Sannidhya","Pranav"]

print("before Shuffling ",name)
print()
print("After Shufffling")
shuffle(name)

before Shuffling  ['Hitesh', 'Sonal', 'Ram', 'Sannidhya', 'Pranav']

After Shufffling

### Write a Python program to convert a list of characters into a string.

In [91]:
data=["Hitesh","Is","working","as","data","scientist"]

result=' '.join(data)
print(result)

Hitesh Is working as data scientist

###  Reverse a list in Python.

In [94]:
data=["Hitesh","Is","working","as","data","scientist"]
print("Before reverse list ",data)
print()
print("After reverse list")
result=data[::-1]
print(result)

Before reverse list  ['Hitesh', 'Is', 'working', 'as', 'data', 'scientist']

After reverse list
['scientist', 'data', 'as', 'working', 'Is', 'Hitesh']

### Concatenate two lists index-wise.

In [95]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

## By using zip() function we can do this.

result=[i+j for i,j in zip(list1,list2)]
print("After concatenate list ",result)

After concatenate list  ['My', 'name', 'is', 'Kelly']

### Turn every item of a list into its square

In [97]:
numbers = [1, 2, 3, 4, 5, 6, 7]

square=[]

for i in numbers:
    square.append(i*i)
print(square)

[1, 4, 9, 16, 25, 36, 49]

### Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

O/p:- ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [106]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

for i in range(len(list1)):
    for j in range(len(list2)):
        result=list1[i]+list2[j]
        print(result)

Hello Dear
Hello Sir
take Dear
take Sir

### Remove empty strings from the list of strings

In [108]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
print("Before removing emoty string")
print(list1)
print("After removing empty string")
result=list(filter(None,list1))
print(result)

Before removing emoty string
['Mike', '', 'Emma', 'Kelly', '', 'Brad']
After removing empty string
['Mike', 'Emma', 'Kelly', 'Brad']

### Add new item to list after a specified item

In [113]:
## Write a program to add item 7000 after 6000 in the following Python List.
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### Extend nested list by adding the sublist.

In [114]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

list1.extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n', 'h', 'i', 'j']

### Replace listâ€™s item with new value if found.

In [117]:
## You have given a Python list. Write a program to find value 20 in the list, 
## and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

print("Before updating a list.")
print()
print(list1)
print()
print("After updating the values.")

index=list1.index(20)
print(index)
list1[index]=200
print(list1)

Before updating a list.

[5, 10, 15, 20, 25, 50, 20]

After updating the values.
3
[5, 10, 15, 200, 25, 50, 20]

###  Remove all occurrences of a specific item from a list.

In [118]:
## Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
print(list)
print()
print("After removing the 20")

def removenum(sample_lst,val):
    return[i for i in sample_lst if i!=20]

result=removenum(list1,20)
print(result)

<class 'list'>

After removing the 20
[5, 15, 25, 50]

### Write a Python program to get unique values from a list.

In [119]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]

result_unique=set(my_list)
print(result_unique)

{40, 10, 50, 20, 60, 30}

### Write a Python program to find common items from two lists.

In [2]:
color1 = ["Red", "Green", "Orange", "White"]
color2 = ["Black", "Green", "White", "Pink"]

common_result=list((zip(set(color1) & set(color2))))
print(common_result)

[('White',), ('Green',)]