## Variables and Types.

### Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

1) Number
2) List
3) Tuples
4) Set
5) Dictionary

### 1) Number

Number data types store numeric values. Number objects are created when you assign a value to them

In [1]:
num=10
print(num)

10

In [2]:
## checkinh the type of variable.
type(num)

int

In [3]:
float_num=10.20
print(float_num)

10.2

In [4]:
type(float_num)

float

In [5]:
name="Hitesh"
print(name)

Hitesh

In [6]:
type(name)

str

In [7]:
addition=str(num)+" "+name
print(addition)

10 Hitesh

In [8]:
new_num=num+float_num
print(new_num)

20.2

In [9]:
type(new_num)

float

In [10]:
mul_num=num*float_num
print(mul_num)

102.0

In [11]:
print(type(mul_num))

<class 'float'>

In [12]:
last_name="Yerekar"
print(last_name)

Yerekar

In [13]:
new_name=name+" "+last_name
print(new_name)

Hitesh Yerekar

In [14]:
print(type(new_name))

<class 'str'>

### Providing the Input

In [15]:
f_name=input("Enter your first name")
print("My name is",f_name)

Enter your first nameHitesh
My name is Hitesh

In [17]:
num1=input("Enter First Number")
num2=input("Enter Second Number")
add_num=int(num1)+int(num2)
print("Addition of two number is =",add_num)

Enter First Number10
Enter Second Number20
Addition of two number is = 30

In [18]:
fname=input("Enter first name")
lname=input("Enter last name")
full_name=str(fname)+" "+str(lname)
print("My full name is",full_name)

Enter first name
Enter last name
My full name is

### 2) LIST

1) Lists are just like dynamic sized arrays.
2) A LIST is defined as an ordered, mutable, and heterogeneous collection of objects
3) A single list may contain DataTypes like Integers, Strings, as well as Objects.
4) LIST are contained within a collection of square brackets [ ].

In [19]:
## creating a LIST.
List = []
print("Blank List: ")
print(List)

Blank List:
[]

### Creating the LIST with numbers.

In [22]:
Numbers = [10,20,37,40,55,60,73,80,99,110]
print("\n List of numbers: ",Numbers)

 List of numbers:  [10, 20, 37, 40, 55, 60, 73, 80, 99, 110]

### Creating the LIST with String.

In [23]:
Names = ["Hitesh","Sannidhya","Pranay","Prajwal"]
print("\n List Items: ",Names)

 List Items:  ['Hitesh', 'Sannidhya', 'Pranay', 'Prajwal']

### Accessing the element in LIST.

In [24]:
Numbers[2]

37

In [25]:
## Cheking the type of List
print(type(Numbers))

<class 'list'>

In [26]:
## Slicing then list.
Numbers[0:3]

[10, 20, 37]

In [27]:
## Accessing all element through loop.

for i in Numbers:
    print(i)

10
20
37
40
55
60
73
80
99
110

In [28]:
## Calculate the sum of all elements in LIST.
temp=0
for i in Numbers:
    temp=temp+i
print(temp)

584

In [44]:
## Accessing the all Even number from LIST.
temp=[]
sum=0
for num in Numbers:
    if num % 2==0:
        print(num)
        temp.append(num)
        sum=sum+num
print("Sum of all Even number is ",sum)
print("All Even Numbers ",temp)

10
20
40
60
80
110
Sum of all Even number is  320
All Even Numbers  [10, 20, 40, 60, 80, 110]

In [45]:
## Accessing the all ODD number from LIST.
temp=[]
sum=0
for num in Numbers:
    if num % 2!=0:
        print(num)
        temp.append(num)
        sum=sum+num
print("Sum of all ODD number is ",sum)
print(temp)

37
55
73
99
Sum of all ODD number is  264
[37, 55, 73, 99]

### Nested LIST

A LIST within another LIST it is called as Nested LIST.

In [25]:
num=[10,20,30,40,[50,60]]
print(num)

[10, 20, 30, 40, [50, 60]]

In [26]:
num[4]

[50, 60]

In [27]:
num1=[100,110]
number=[10,20,30,num1]
print(number)

[10, 20, 30, [100, 110]]

In [28]:
name=[["Hitesh","Kunal","Vivek"],["Shankar","Rahul","Kartik"]]
print(name)

[['Hitesh', 'Kunal', 'Vivek'], ['Shankar', 'Rahul', 'Kartik']]

In [29]:
type(name)

list

In [30]:
name[0]

['Hitesh', 'Kunal', 'Vivek']

In [31]:
name[1]

['Shankar', 'Rahul', 'Kartik']

In [32]:
city=[["Nagpur","Pune","Mumbai"],
       ["Dhule","Yavatmal","Nashik"]]
print(city)
print(type(city))

[['Nagpur', 'Pune', 'Mumbai'], ['Dhule', 'Yavatmal', 'Nashik']]
<class 'list'>

In [33]:
print(city[1][1])

Yavatmal

In [34]:
city[0][2]

'Mumbai'

In [35]:
print(name[0][2])

Vivek

In [36]:
print(name[1][1])

Rahul

In [37]:
print(name[0][0])

Hitesh

In [38]:
### Modifying Nested LIST.
name[0][1]="Sannidhya"
print(name)

[['Hitesh', 'Sannidhya', 'Vivek'], ['Shankar', 'Rahul', 'Kartik']]

In [39]:
city[1][0]="Kanpur"
print(city)

[['Nagpur', 'Pune', 'Mumbai'], ['Kanpur', 'Yavatmal', 'Nashik']]

### ALL LIST Functions.

sort(): Sorts the list in ascending order.

type(list): It returns the class type of an object.

append(): Adds one element to a list.

extend(): Adds multiple elements to a list.

index(): Returns the first appearance of a particular value.

max(list): It returns an item from the list with a max value.

min(list): It returns an item from the list with a min value.

len(list): It gives the overall length of the list.

clear(): Removes all the elements from the list.

insert(): Adds a component at the required position.

count(): Returns the number of elements with the required value.

pop(): Removes the element at the required position.

remove(): Removes the primary item with the desired value.

reverse(): Reverses the order of the list.

copy():  Returns a duplicate of the list.

#### 1) SORT()

The sort() method is a built-in Python method that, by default, sorts the list in ascending order. However, you’ll modify the order from ascending to descending by specifying the sorting criteria.

In [40]:
prices = [589.36, 237.81, 230.87, 463.98, 453.42] 
print("Price before sorting ")
print(prices)
print("Price after sorting")
prices.sort()
print(prices)
prices.sort(reverse=True)
print(prices)

Price before sorting
[589.36, 237.81, 230.87, 463.98, 453.42]
Price after sorting
[230.87, 237.81, 453.42, 463.98, 589.36]
[589.36, 463.98, 453.42, 237.81, 230.87]

### 2) Append()

The append() method will add some elements you enter to the end of the elements you specified.

In [41]:
Country=["India","Aus","US","UK","Brazil"]
print(Country)

['India', 'Aus', 'US', 'UK', 'Brazil']

In [42]:
Country.append("England")
print(Country)

['India', 'Aus', 'US', 'UK', 'Brazil', 'England']

In [43]:
number=[10,20,30,40,50]
number

[10, 20, 30, 40, 50]

In [45]:
number.append(100)
number

[10, 20, 30, 40, 50, 100, 100]

### 3) Extend() 
The extend() method increases the length of the list by the number of elements that are provided to the strategy.

In [47]:
Country.extend(["NZ","Bangladesh","Shrilanka"])
print(Country)

['India', 'Aus', 'US', 'UK', 'Brazil', 'England', 'NZ', 'Bangladesh', 'Shrilanka']

In [48]:
number.extend([101,102,103,104,105])
print(number)

[10, 20, 30, 40, 50, 100, 100, 101, 102, 103, 104, 105]

### 4) Index()
The index() method returns the primary appearance of the required value.

In [50]:
Country.index("India")

0

In [51]:
Country.index("England")

5

In [52]:
number.index(104)

10

### 5) Max() 
The max() function will return the highest value from the inputted values.

In [57]:
max_num=max(number)
print(max_num)

105

In [62]:
country=max(Country)
print(country)

US

### 6) Min()
The min() function will return the rock bottom value from the inputted values.

In [60]:
min_num=min(number)
min_num

10

In [61]:
country=min(Country)
country

'Aus'

### 7) Len()
The len() function returns the number of elements in a specified list.

In [63]:
len(Country)

9

In [64]:
len(number)

12

In [65]:
len(name)

2

In [67]:
len(prices)

5

### 8) Clear()
The clear() method removes all the elements from a specified list and converts them to an empty list.

In [69]:
name.clear()
name

[]

In [70]:
prices.clear()
prices

[]

### 9) Insert()
The insert() method inserts the required value at the desired position.

In [72]:
Country.insert(3,"Katar")
Country

['India',
 'Aus',
 'US',
 'Katar',
 'UK',
 'Brazil',
 'England',
 'NZ',
 'Bangladesh',
 'Shrilanka']

In [73]:
number.insert(4,202)
number

[10, 20, 30, 40, 202, 50, 100, 100, 101, 102, 103, 104, 105]

In [76]:
name.insert(2,"Pratik")
name

['Pankaj', 'Pankaj', 'Pratik']

### 10) Count
The count() method returns the number of elements with the desired value.

In [80]:
x=number.count(100)
x

2

In [83]:
Country.append("India")
Country

['India',
 'Aus',
 'US',
 'Katar',
 'UK',
 'Brazil',
 'England',
 'NZ',
 'Bangladesh',
 'Shrilanka',
 'India']

In [84]:
Country.count("India")

2

In [85]:
Country.count("NZ")

1

In [86]:
number.count(100)

2

In [87]:
number.count(20)

1

### 11) POP
The pop() method removes the element at the required position.

In [89]:
Country.pop(3)
Country

['India',
 'Aus',
 'US',
 'UK',
 'Brazil',
 'England',
 'NZ',
 'Bangladesh',
 'Shrilanka',
 'India']

In [90]:
number.pop(2)
number

[10, 20, 40, 202, 50, 100, 100, 101, 102, 103, 104, 105]

### 12) Remove
The remove() method removes the first occurrence of the element with the specified value.

In [91]:
Country.remove("Brazil")
Country

['India',
 'Aus',
 'US',
 'UK',
 'England',
 'NZ',
 'Bangladesh',
 'Shrilanka',
 'India']

In [98]:
number.remove(100)
number

[10, 20, 40, 202, 50, 100, 102, 103, 104, 105]

### 13) Reverse()
The reverse() method reverses the order of the elements.

In [99]:
Country.reverse()
Country

['India',
 'Shrilanka',
 'Bangladesh',
 'NZ',
 'England',
 'UK',
 'US',
 'Aus',
 'India']

In [101]:
names=["hitesh","Pratik","krunal","Sannu","Pankaj"]
names

['hitesh', 'Pratik', 'krunal', 'Sannu', 'Pankaj']

In [102]:
names.reverse()
names

['Pankaj', 'Sannu', 'krunal', 'Pratik', 'hitesh']

In [103]:
number.reverse()
number

[105, 104, 103, 102, 100, 50, 202, 40, 20, 10]

### 14) Copy()
The copy() method returns a copy of the specified list and makes the new list.

In [105]:
fnames=names.copy()
fnames

['Pankaj', 'Sannu', 'krunal', 'Pratik', 'hitesh']

In [106]:
int_num=number.copy()
int_num

[105, 104, 103, 102, 100, 50, 202, 40, 20, 10]

In [107]:
Country_name=Country.copy()
Country_name

['India',
 'Shrilanka',
 'Bangladesh',
 'NZ',
 'England',
 'UK',
 'US',
 'Aus',
 'India']